body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    color: #333;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: lightblue;
}

footer {
    color: #0077be;
    font-size: 14px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

form input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0077be;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #005fa3;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #333;
    text-align: center;
}

a {
    color: #0077be;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
