<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SiteName - {{ template "pageTitle" }}</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<div class="navbar">
    {{ if .IsAuthenticated }}
    <form action="/logout" method="post">
        <input name="csrf_token" type="hidden" value="{{ .CsrfToken }}">
        <input type="submit" value="Logout">
    </form>
    {{ else }}
    <form action="/login" method="get">
        <input type="submit" value="Login">
    </form>
    <form action="/register" method="get">
        <input type="submit" value="Register">
    </form>
    {{ end }}
</div>
{{ template "content" . }}
<div class="footer-container">
    <footer>
        <p>SiteName - Powered by GoWeb!</p>
    </footer>
</div>
</body>
</html>
